
# sensitive data, cannot be sent to github
certs/*
src/certs.h
# terraform stuff
terraform/lambda_function.zip
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

logs
.pio/
